<div class="product" data-product-id="{{@index}}">
	<figure>
		<img src="./../img/{{descriptionImage}}" alt="Furniture name {{descriptionName}}" class="product__img" width="240" height="181"/>
		<figcaption class="product__name">{{descriptionName}}</figcaption>
	</figure>
	<button class="btn product-list__btn btn__primary btn--small btn--block">Insert {{category}}</button>
</div>
